@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base); /* comment this line to disable preflight */
@import 'tailwindcss/utilities.css' layer(utilities);

/* Custom plugins */
@import "./plugins/bg-stripes.css";
@import "./plugins/horizontal-line.css";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./../assets/SEGA.TTF") format("truetype");
}

@theme {
  --font-sega: 'SEGA LOGO FONT', sans-serif;
}